/*
Theme Name: Cooker v2.2
Theme URI: http://themeforest.net
Author: Design Mania
Author URI: http://designmania.eu/
Description: Perfect Wp theme for restaurants and online food shops
Version: 2.2

License: 
License URI:
 
Tags: red

Text Domain: cooker
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, images, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a img {
  margin: 0;
  padding: 0;
  border: 0 none;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
.bypostauthor {}